@let _hasError = hasError();
@let _error = error();
@let _data = (posts()) ?? [];
@let _currentSelection = currentSelection() ;

@if (_hasError) {
    <p>Error: {{ _error | json }}</p>
} @else {
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Views</th>
            </tr>
        </thead>
        <tbody>
            @for (item of (_data); track $index) {
                <tr (click)="onSelection(item)">
                    <td>{{ item.title }}</td>
                    <td>{{ item.content }}</td>
                    <td>{{ item.views }}</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (_currentSelection) {
    <form (submit)="onSubmit($event)">
        <label>
            Tile
            <input type="text" [formField]="currentSelection.title" />
        </label>        
        <label>
            Content
            <input type="text" [formField]="currentSelection.content" />
        </label>

        <button type="submit">Submit</button>
    </form>
}